/1 SECCION - Introduccion/HolaMundo/nbproject/private/
/1 SECCION - Introduccion/HolaMundo/build/
/2 SECCION - Variables/Variables/nbproject/private/
/2 SECCION - Variables/Variables/build/
/2 SECCION - Variables/Variables/dist/
/3 SECCION - Tipo String (Cadenas)/TipoString/nbproject/private/
/3 SECCION - Tipo String (Cadenas)/TipoString/build/
