/Andres Guzman/1 SECCION - Introduccion/HolaMundo/nbproject/private/
/Andres Guzman/1 SECCION - Introduccion/HolaMundo/build/
/Andres Guzman/2 SECCION - Variables/Variables/nbproject/private/
/Andres Guzman/2 SECCION - Variables/Variables/build/
/Andres Guzman/2 SECCION - Variables/Variables/dist/
/Andres Guzman/3 SECCION - Tipo String (Cadenas)/TipoString/nbproject/private/
/Andres Guzman/3 SECCION - Tipo String (Cadenas)/TipoString/build/
